
.bg{
    background:linear-gradient(to top, #0B610B 0%, #ffffff);
    
    }

.item.item-trns{
    border-color: rgba(85, 34, 34, 0);
    background-color:  rgba( 0,0,0,0);
    color: rgb(27, 23, 23);
}
    